html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
    margin:0;
    padding:0;
}
body{ margin: 0; padding: 0; }
.bg{
    width: 1260px;
    height: 880px;
    padding: 36px 160px 35px;
    background-color: #edf2c5;
    margin-left: auto;
    margin-right: auto;
}
.title_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin:0

   
}
.main_title{
    width: 271px;
    height: 62px;
    padding-top:5px;
    margin: 0px 469px 5px 0px;
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.82;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;

}
.btn_facebook {
    width: 25px;
    height: 25px;
    margin: 0 10px 18px 0;
    object-fit: contain;
  }
.btn_instagram {
    width: 25px;
    height: 25px;
    margin: 0 10px 18px 0;
    object-fit: contain;
  }
.line_login{
    width: 1px;
    height: 25px;
    margin: 0 10px 18px 0;
    background-color: #778a50;
}
.login{
    width: 60px;
    height: 25px;
    margin: 0 10px 18px 0;
    padding: 5px 7px;
    border: solid 1px #778a50;
    border-radius: 3px;

   
    font-family: Arial ;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 2.57; */
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
  }

.join{
    width: 49px;
    height: 25px;
    margin: 0 0px 18px 0;
    padding: 5px 7px;
    border: solid 1px #778a50;
    border-radius: 3px;
    
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 2.57; */
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
}
.nav_box{
background-color:#778a50;
border-radius: 3px;
margin: 0;
margin-bottom: 20px;
}
.nav_list{
display: flex;
/* flex-direction: row; */
margin:0;
padding:0;
width: 940px;
height: 44px;
}
.nav_item{
    list-style: none;
    margin: 10px 30px 11px 30px;
}
.nav_link{
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 2.25; */
    letter-spacing: normal;
    text-align: left;
    color:#edf2c5;
    margin-right: 60px;
    margin:0;
}
.main_img{
    width: 940px;
    height: 448px;
    /* margin-top: 20px; */
    margin-bottom: 30px;
}
.bottom_container{
    display: flex;
    margin: 0;
    padding: 0;

}
.vegetables_title{
    width: 444px;
    height: 45px;
    margin: 0px 52px 15px 0;
    padding: 10px 316px 12px 30px;
    border-radius: 3px;
    background-color: #778a50;

    font-family: Arial Black;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 2.25; */
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}
.vegetables_container{
    display: flex;
    width: 444px;
    justify-content: space-between;
    margin: 15px 52px 35px 0;

}
.contact_title{
    width: 444px;
    height: 45px;
    margin: 0px 52px 15px 0;
    padding: 10px 316px 12px 30px;
    border-radius: 3px;
    background-color: #778a50;

    font-family: Arial Black;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 2.25; */
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}
.contact_container{
     width: 444px;
     height: 140px;
     /* margin: 15px 160px 35px 0px; */
     /* padding-left:15px ; */
     background-color: #f7fbda;
}
.contact_content1{
  /* width: 414px;
  height: 44px; */
  /* margin: 0px 15px 0 0px; */
  padding:15px 15px 0 15px ;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.25; */
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}
.contact_line{
    width: 414px;
    height: 1px;
    margin: 15px 0 0 0;
    margin-left:15px ;
    background-color: #7d7d7d;

}
.contact_content2{
    /* width: 197px;
    height: 35px; */
    margin: 13px 217px 0 15px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
}
.footer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1260px;
    height: 60px;
    padding: 23px 0px;
    background-color: #778a50;
    margin-left: auto;
    margin-right: auto;
}   
.footer_content{
    padding: 0px;
    /* margin:0 0 0 480px; */
    /* width: 301px; */
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 3; */
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}
